*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 20px;
    font-family: sans-serif;
}

#header, #footer{
    height: 70px;
    background-color: #3473ff;
    font-size: 1rem;
    color: #fff;
}

#header{
    position: sticky;
    top: 0px;
}

#footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#instructions{
    width: 300px;
    height: calc(100vh - 114px);
    border-left: 1px solid #777;
    background: #ddd;
}

